<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330143337990-om5cavtfdt02jtv83r26v6lp4tv19e5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330143337990-om5cavtfdt02jtv83r26v6lp4tv19e5k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330143337990-87p21p3u3qpfj0gosa7hqeijoajf96b4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDC0iFBMKz2o8jFWjvwoSBEQoy-2TO2tcE</string>
	<key>GCM_SENDER_ID</key>
	<string>330143337990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasks3</string>
	<key>PROJECT_ID</key>
	<string>task-8e468</string>
	<key>STORAGE_BUCKET</key>
	<string>task-8e468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330143337990:ios:6db05a404c0d0cd6813d87</string>
</dict>
</plist>